.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.forum-item {
  text-align: left;
}

.forum-item .title {
  font-weight: bold;
}

.nav-link.nav-link-faded {
  color: #4a5568; /* Default color for all nav links */
  display: flex;
  align-items: center;
  border-radius: .25rem;
}

.nav-link.nav-link-faded:hover,
.nav-link.nav-link-faded.active,
.nav-link.nav-link-faded:active {
  color: #3367b5;
  background-color: #c9d8f0;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #467bcb;
}

.nav-link.active {
  color: #467bcb; /* Overriding color for active links if necessary */
}

